body{

}
#box1 {
    background-color: white;
    float:left;
}
.box{
    height: 100px;
    width: 100px;
    border: black 1px solid;
    padding: 7px;

}
#wrapper{
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    border: 1px solid black;
}

#footer{
    background-color: black;
}
div {
    background-color: white;
}